<div class="row">
    <!-- Existing card columns -->
  
    <!-- New card column for dashboard creation form -->
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div>
        <div class="submit-form">
          <div *ngIf="!submitted">
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                required
                [(ngModel)]="chart.title"
                name="title"
              />
            </div>
            <div class="form-group">
              <label for="type">Type</label><br>
              <select [(ngModel)]="chart.type" name="type">
                <option *ngFor="let fileType of Charttypes" [value]="fileType">
                  {{ charttypeLabelMapping[fileType] }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label for="x_axis">X Axis</label>
              <input
                type="text"
                class="form-control"
                id="x_axis"
                required
                [(ngModel)]="chart.x_axis"
                name="x_axis"
              />
            </div>
            <div class="form-group">
              <label for="y_axis">Y Axis</label>
              <input
                type="text"
                class="form-control"
                id="y_axis"
                required
                [(ngModel)]="chart.y_axis"
                name="y_axis"
              />
            </div>
            <div class="form-group">
              <label for="creator_id">creator_id</label>
              <input
                type="text"
                class="form-control"
                id="creator_id"
                required
                [attr.disabled]="true"
                [(ngModel)]="user.username" 
                name="creator_id"
              />
            </div>
    
            <button (click)="saveChart()" class="btn btn-success"><i class="fa fa-check"></i> Save</button>
          </div>
          <div *ngIf="submitted">
            <h4>Chart was submitted successfully!</h4>
            <button class="btn btn-success" (click)="newChart()">Add</button>
            <button class="btn btn-success" (click)="gotoList()">{{ navbarTitle }}</button> <!-- Utilisez navbarTitle ici -->
          </div>
        </div>
      </div>
    </div>
  </div>
  