<div class="container">
    <h2>Assign Charts to Datasource</h2>
  
    <div class="form-group">
      <label for="datasourceSelect">Select a Datasource:</label>
      <select id="datasourceSelect" class="form-control" [(ngModel)]="selectedDatasourceId">
        <option *ngFor="let datasource of datasources" [value]="datasource.id">{{ datasource.type }}</option>
      </select>
    </div>
  
    <div class="form-group">
      <label for="chartSelect">Select a Chart:</label>
      <select id="chartSelect" class="form-control" [(ngModel)]="selectedChartId">
        <option *ngFor="let chart of chart" [value]="chart.id">{{ chart.title }}</option>
      </select>
    </div>
  
    <button (click)="affecterChartADatasource()" class="btn btn-primary">Assign Portlet to Chart</button>
  

  </div>
  