.btn-custom-red {
    background-color: #ff0000; /* Rouge */
    border-color: #ff0000; /* Couleur de la bordure */
    color: white; /* Texte blanc */
}


.btn-custom-green {
    background-color: #28a745; /* Vert */
    border-color: #28a745; /* Couleur de la bordure */
    color: white; /* Texte blanc */
}


.btn-custom-blue {
    background-color: #007bff; /* Bleu */
    border-color: #007bff; /* Couleur de la bordure */
    color: white; /* Texte blanc */
}
